<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap&subset=cyrillic-ext');
    </style>
</head>

<body
    style="margin: 0; padding: 0; display: flex; flex-direction: column; min-height: 100vh; font-family: 'Manrope', sans-serif; background-color: rgba(255, 255, 255, 1); overflow-x: hidden; scroll-behavior: smooth;">
    <div class="container"
        style="margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center; width: 100%; flex: 1;">
        <header style="width: 100%; display: flex; justify-content: center; margin: 26px 0 60px;">
            <div class="logo-header">
                <svg width="126" height="44" viewBox="0 0 126 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.5 13.6203H16.5039L14.3948 18.1752C12.4926 17.7016 11.1968 17.4091 10.5076 17.2976C9.34968 17.1026 7.9988 17.0051 6.45493 17.0051V26.5327H14.9324L12.5753 30.8369C11.2244 30.419 10.2181 30.1543 9.55645 30.0429C8.92236 29.9315 7.88852 29.8061 6.45493 29.6668V39.6959C6.45493 40.4202 6.52385 41.047 6.6617 41.5763C6.79954 42.1056 7.08902 42.8299 7.53012 43.7493H0.541354C0.98246 42.9414 1.25815 42.3006 1.36843 41.827C1.4787 41.3256 1.53384 40.6013 1.53384 39.6541V17.5484C1.53384 16.7962 1.46492 16.1554 1.32707 15.6261C1.18923 15.0968 0.913537 14.4282 0.5 13.6203Z"
                        fill="#1C1815" />
                    <path
                        d="M18.1719 43.7493C19.0816 42.6349 19.7433 41.7295 20.1568 41.0331C20.5979 40.3366 21.0942 39.3198 21.6456 37.9826L30.4953 16.629C30.6882 16.1554 30.8399 15.7097 30.9501 15.2918C31.088 14.8461 31.2258 14.2889 31.3637 13.6203H35.4991C35.6645 14.4004 35.8023 15.0132 35.9126 15.459C36.0504 15.9047 36.1883 16.2947 36.3261 16.629L44.2247 37.6901C44.6382 38.8322 45.0517 39.7934 45.4653 40.5734C45.7961 41.2141 46.4578 42.2728 47.4503 43.7493H40.2134L40.2547 42.6628C40.2547 41.6042 40.0617 40.5873 39.6758 39.6123L37.6494 33.8874H28.1381L26.0704 39.2362C25.5742 40.462 25.326 41.5345 25.326 42.4539L25.4501 43.7493H18.1719ZM33.0178 19.4288L29.0479 30.3772H36.6156L33.0178 19.4288Z"
                        fill="#1C1815" />
                    <path
                        d="M75.9384 14.874L76.0624 20.181C74.5737 18.6209 73.2504 17.5484 72.0925 16.9633C70.9621 16.3783 69.5975 16.0858 67.9985 16.0858C64.9934 16.0858 62.5122 17.2976 60.5548 19.7213C58.625 22.1172 57.66 25.1955 57.66 28.9564C57.66 32.4109 58.6387 35.2803 60.5962 37.5647C62.5811 39.8212 65.0624 40.9495 68.0398 40.9495C69.694 40.9495 71.0862 40.657 72.2165 40.072C73.3469 39.4869 74.6978 38.3726 76.2692 36.7289L75.4835 42.036C73.7191 42.8439 72.2992 43.3732 71.224 43.6239C70.1488 43.8746 68.8255 44 67.2541 44C62.8706 44 59.2866 42.5931 56.5021 39.7794C53.7177 36.9657 52.3254 33.3441 52.3254 28.9146C52.3254 24.4851 53.8279 20.78 56.833 17.7991C59.838 14.8182 63.5736 13.3278 68.0398 13.3278C69.501 13.3278 70.714 13.4253 71.6789 13.6203C72.6714 13.8153 74.0912 14.2332 75.9384 14.874Z"
                        fill="#1C1815" />
                    <path
                        d="M84.9066 43.7493C85.3201 42.9135 85.5958 42.2171 85.7337 41.6599C85.8991 41.0749 85.9818 40.4063 85.9818 39.6541V17.5902C85.9818 16.8101 85.9129 16.1694 85.775 15.6679C85.6647 15.1665 85.389 14.4839 84.9479 13.6203H100.993L98.8841 18.1752C97.2024 17.7295 96.1823 17.4648 95.8239 17.3812C94.5558 17.1026 92.9154 16.9633 90.9029 16.9633V26.4909H99.4217L97.0646 30.8787C95.7412 30.4608 94.735 30.1822 94.0457 30.0429C93.3841 29.9036 92.3364 29.7643 90.9029 29.625V40.448C93.8803 40.448 96.2375 40.2391 97.9743 39.8212C98.1397 39.7655 99.6285 39.3198 102.441 38.484L99.918 43.7493H84.9066Z"
                        fill="#1C1815" />
                    <path
                        d="M124.549 14.6232L124.673 19.8885C123.487 18.7741 122.495 18.008 121.695 17.5902C120.896 17.1723 120.028 16.9633 119.09 16.9633C117.85 16.9633 116.816 17.3812 115.989 18.217C115.162 19.0527 114.748 20.0974 114.748 21.3511C114.748 22.3261 114.969 23.134 115.41 23.7747C115.741 24.3041 116.182 24.8055 116.733 25.2791C117.312 25.7248 118.291 26.3795 119.669 27.2431L122.357 29.2071C124.452 30.9344 125.5 33.0655 125.5 35.6007C125.5 37.4393 124.949 39.083 123.846 40.5316C122.936 41.7574 121.861 42.6349 120.62 43.1642C119.407 43.6936 117.85 43.9582 115.947 43.9582C114.652 43.9582 113.645 43.8886 112.928 43.7493C112.239 43.61 111.288 43.2618 110.075 42.7046V37.1468C111.316 38.4562 112.35 39.3476 113.177 39.8212C114.031 40.267 114.996 40.4898 116.071 40.4898C117.34 40.4898 118.36 40.1277 119.132 39.4034C119.903 38.679 120.289 37.7179 120.289 36.52C120.289 35.4892 120 34.5838 119.421 33.8038C118.842 32.9959 117.808 32.0905 116.319 31.0876C115.823 30.7811 115.313 30.4468 114.789 30.0847C114.541 29.9175 114.128 29.625 113.549 29.2071C111.04 27.3685 109.786 25.0005 109.786 22.1032C109.786 19.5681 110.682 17.4927 112.474 15.8769C114.293 14.2332 116.595 13.4114 119.38 13.4114C120.427 13.4114 121.254 13.481 121.861 13.6203C122.467 13.7596 123.363 14.0939 124.549 14.6232Z"
                        fill="#1C1815" />
                    <path
                        d="M30.673 2.84156C30.673 2.03367 30.9349 1.36507 31.4587 0.835754C32.0101 0.278585 32.6855 0 33.485 0C34.257 0 34.9186 0.264655 35.47 0.793966C36.0214 1.32328 36.2971 1.99188 36.2971 2.79978C36.2971 3.57981 36.0214 4.24842 35.47 4.80559C34.9186 5.36276 34.257 5.64134 33.485 5.64134C32.7131 5.64134 32.0514 5.36276 31.5001 4.80559C30.9487 4.24842 30.673 3.59374 30.673 2.84156Z"
                        fill="#1C1815" />
                </svg>

            </div>
        </header>
        <main style="flex: 1; width: 100%; display: flex; justify-content: center;">
            <div class="content"
                style="display: flex;flex-direction: column; align-items: center; width: 90%; max-width: 598px;">
                <h1 class="heading"
                    style="text-align: center; color: rgba(28, 24, 21, 1); font-family: 'Manrope', sans-serif; line-height: 40px; font-style: normal; font-weight: 700; font-size: 24px; margin-bottom: 20px;">
                    Подтверждение адреса электронной почты
                </h1>
                <a href="<%= btnConnect %>" style="display: block; text-decoration: none;">
                    <div class="btn-connect"
                        style="display: flex; justify-content: center; align-items: center; width: 198px; height: 54px; cursor: pointer; border: none; border-radius: 10px; background-color: rgba(28, 24, 21, 1); margin-bottom: 86px;">
                        <span
                            style="color: rgba(255, 255, 255, 1); font-family: 'Manrope', sans-serif; line-height: 22px; font-style: normal; font-weight: 600; font-size: 18px;">Подтвердить</span>
                    </div>
                </a>

            </div>
        </main>
        <footer
            style="width: 100%; margin-top: auto; display: flex; align-items: center; flex-direction: column; background-color: rgba(225, 225, 225, 1); padding: 20px 0;">
            <div class="footer-text-container"
                style="display: flex; justify-content: center; flex-direction: column; align-items: center; flex-wrap: wrap;">
                <svg width="126" height="44" viewBox="0 0 126 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.5 13.6203H16.5039L14.3948 18.1752C12.4926 17.7016 11.1968 17.4091 10.5076 17.2976C9.34968 17.1026 7.9988 17.0051 6.45493 17.0051V26.5327H14.9324L12.5753 30.8369C11.2244 30.419 10.2181 30.1543 9.55645 30.0429C8.92236 29.9315 7.88852 29.8061 6.45493 29.6668V39.6959C6.45493 40.4202 6.52385 41.047 6.6617 41.5763C6.79954 42.1056 7.08902 42.8299 7.53012 43.7493H0.541354C0.98246 42.9414 1.25815 42.3006 1.36843 41.827C1.4787 41.3256 1.53384 40.6013 1.53384 39.6541V17.5484C1.53384 16.7962 1.46492 16.1554 1.32707 15.6261C1.18923 15.0968 0.913537 14.4282 0.5 13.6203Z"
                        fill="#1C1815" />
                    <path
                        d="M18.1719 43.7493C19.0816 42.6349 19.7433 41.7295 20.1568 41.0331C20.5979 40.3366 21.0942 39.3198 21.6456 37.9826L30.4953 16.629C30.6882 16.1554 30.8399 15.7097 30.9501 15.2918C31.088 14.8461 31.2258 14.2889 31.3637 13.6203H35.4991C35.6645 14.4004 35.8023 15.0132 35.9126 15.459C36.0504 15.9047 36.1883 16.2947 36.3261 16.629L44.2247 37.6901C44.6382 38.8322 45.0517 39.7934 45.4653 40.5734C45.7961 41.2141 46.4578 42.2728 47.4503 43.7493H40.2134L40.2547 42.6628C40.2547 41.6042 40.0617 40.5873 39.6758 39.6123L37.6494 33.8874H28.1381L26.0704 39.2362C25.5742 40.462 25.326 41.5345 25.326 42.4539L25.4501 43.7493H18.1719ZM33.0178 19.4288L29.0479 30.3772H36.6156L33.0178 19.4288Z"
                        fill="#1C1815" />
                    <path
                        d="M75.9384 14.874L76.0624 20.181C74.5737 18.6209 73.2504 17.5484 72.0925 16.9633C70.9621 16.3783 69.5975 16.0858 67.9985 16.0858C64.9934 16.0858 62.5122 17.2976 60.5548 19.7213C58.625 22.1172 57.66 25.1955 57.66 28.9564C57.66 32.4109 58.6387 35.2803 60.5962 37.5647C62.5811 39.8212 65.0624 40.9495 68.0398 40.9495C69.694 40.9495 71.0862 40.657 72.2165 40.072C73.3469 39.4869 74.6978 38.3726 76.2692 36.7289L75.4835 42.036C73.7191 42.8439 72.2992 43.3732 71.224 43.6239C70.1488 43.8746 68.8255 44 67.2541 44C62.8706 44 59.2866 42.5931 56.5021 39.7794C53.7177 36.9657 52.3254 33.3441 52.3254 28.9146C52.3254 24.4851 53.8279 20.78 56.833 17.7991C59.838 14.8182 63.5736 13.3278 68.0398 13.3278C69.501 13.3278 70.714 13.4253 71.6789 13.6203C72.6714 13.8153 74.0912 14.2332 75.9384 14.874Z"
                        fill="#1C1815" />
                    <path
                        d="M84.9066 43.7493C85.3201 42.9135 85.5958 42.2171 85.7337 41.6599C85.8991 41.0749 85.9818 40.4063 85.9818 39.6541V17.5902C85.9818 16.8101 85.9129 16.1694 85.775 15.6679C85.6647 15.1665 85.389 14.4839 84.9479 13.6203H100.993L98.8841 18.1752C97.2024 17.7295 96.1823 17.4648 95.8239 17.3812C94.5558 17.1026 92.9154 16.9633 90.9029 16.9633V26.4909H99.4217L97.0646 30.8787C95.7412 30.4608 94.735 30.1822 94.0457 30.0429C93.3841 29.9036 92.3364 29.7643 90.9029 29.625V40.448C93.8803 40.448 96.2375 40.2391 97.9743 39.8212C98.1397 39.7655 99.6285 39.3198 102.441 38.484L99.918 43.7493H84.9066Z"
                        fill="#1C1815" />
                    <path
                        d="M124.549 14.6232L124.673 19.8885C123.487 18.7741 122.495 18.008 121.695 17.5902C120.896 17.1723 120.028 16.9633 119.09 16.9633C117.85 16.9633 116.816 17.3812 115.989 18.217C115.162 19.0527 114.748 20.0974 114.748 21.3511C114.748 22.3261 114.969 23.134 115.41 23.7747C115.741 24.3041 116.182 24.8055 116.733 25.2791C117.312 25.7248 118.291 26.3795 119.669 27.2431L122.357 29.2071C124.452 30.9344 125.5 33.0655 125.5 35.6007C125.5 37.4393 124.949 39.083 123.846 40.5316C122.936 41.7574 121.861 42.6349 120.62 43.1642C119.407 43.6936 117.85 43.9582 115.947 43.9582C114.652 43.9582 113.645 43.8886 112.928 43.7493C112.239 43.61 111.288 43.2618 110.075 42.7046V37.1468C111.316 38.4562 112.35 39.3476 113.177 39.8212C114.031 40.267 114.996 40.4898 116.071 40.4898C117.34 40.4898 118.36 40.1277 119.132 39.4034C119.903 38.679 120.289 37.7179 120.289 36.52C120.289 35.4892 120 34.5838 119.421 33.8038C118.842 32.9959 117.808 32.0905 116.319 31.0876C115.823 30.7811 115.313 30.4468 114.789 30.0847C114.541 29.9175 114.128 29.625 113.549 29.2071C111.04 27.3685 109.786 25.0005 109.786 22.1032C109.786 19.5681 110.682 17.4927 112.474 15.8769C114.293 14.2332 116.595 13.4114 119.38 13.4114C120.427 13.4114 121.254 13.481 121.861 13.6203C122.467 13.7596 123.363 14.0939 124.549 14.6232Z"
                        fill="#1C1815" />
                    <path
                        d="M30.673 2.84156C30.673 2.03367 30.9349 1.36507 31.4587 0.835754C32.0101 0.278585 32.6855 0 33.485 0C34.257 0 34.9186 0.264655 35.47 0.793966C36.0214 1.32328 36.2971 1.99188 36.2971 2.79978C36.2971 3.57981 36.0214 4.24842 35.47 4.80559C34.9186 5.36276 34.257 5.64134 33.485 5.64134C32.7131 5.64134 32.0514 5.36276 31.5001 4.80559C30.9487 4.24842 30.673 3.59374 30.673 2.84156Z"
                        fill="#1C1815" />
                </svg>
                <span class="footer-text-container" style="display: flex;">
                    <a href="<%= privacyPolicy %>" class="footer-text-footer"
                        style="text-align: center; text-decoration: underline; cursor: pointer; color: rgba(28, 24, 21, 1);
                           font-family: 'Manrope', sans-serif; line-height: 18px; font-style: normal; font-weight: 400; font-size: 14px; margin: 26px 5px 23px;">
                        Политика конфиденциальности</a>
                    <a href="<%= termsOfService %>" class="footer-text-footer"
                        style="text-align: center; text-decoration: underline; cursor: pointer; color: rgba(28, 24, 21, 1);
                           font-family: 'Manrope', sans-serif; line-height: 18px; font-style: normal; font-weight: 400; font-size: 14px; margin: 26px 5px 23px;">
                        Пользовательское соглашение</a>
                </span>

            </div>
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="margin-bottom: 20px;">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM14.5017 10.3354C13.14 10.9018 10.4185 12.0741 6.33719 13.8522C5.67446 14.1158 5.32729 14.3736 5.29568 14.6257C5.24228 15.0518 5.77582 15.2195 6.50237 15.448C6.6012 15.4791 6.7036 15.5113 6.80858 15.5454C7.5234 15.7777 8.48495 16.0496 8.98482 16.0604C9.43826 16.0702 9.94433 15.8832 10.5031 15.4996C14.3163 12.9255 16.2848 11.6245 16.4083 11.5964C16.4955 11.5766 16.6164 11.5517 16.6982 11.6245C16.7801 11.6973 16.772 11.835 16.7634 11.872C16.7105 12.0973 14.6162 14.0444 13.5323 15.0521C13.1944 15.3662 12.9547 15.589 12.9057 15.6399C12.796 15.7539 12.6841 15.8617 12.5766 15.9654C11.9126 16.6056 11.4146 17.0856 12.6042 17.8696C13.1759 18.2463 13.6333 18.5579 14.0897 18.8686C14.5882 19.2081 15.0853 19.5466 15.7285 19.9683C15.8924 20.0757 16.0489 20.1873 16.2014 20.296C16.7814 20.7095 17.3025 21.081 17.9463 21.0218C18.3204 20.9873 18.7069 20.6356 18.9031 19.5864C19.3669 17.107 20.2785 11.7349 20.4892 9.52114C20.5077 9.32719 20.4845 9.07897 20.4658 8.97001C20.4472 8.86104 20.4082 8.70579 20.2666 8.59087C20.0988 8.45476 19.8399 8.42606 19.7241 8.4281C19.1975 8.43738 18.3896 8.71829 14.5017 10.3354Z"
                    fill="#1C1815" />
            </svg>
            <a href="mailto:faces-castings@gmail.com?subject=<%= emailSubject %>" class="footer-email-name"
                style="cursor: pointer; text-decoration: none; color: rgba(28, 24, 21, 1); font-family: 'Manrope', sans-serif; line-height: 17px; font-style: normal; font-weight: 400; font-size: 13px; margin-bottom: 12px;">
                faces-castings&#64;gmail.com
            </a>
            <p class="footer-bottom-text"
                style="color: rgba(28, 24, 21, 1); font-family: 'Roboto', sans-serif; line-height: 14px; font-style: normal; font-weight: 300; font-size: 13px; margin-bottom: 24px;">
                &#169; 2024 FACES
            </p>
        </footer>
    </div>
</body>

</html>