<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo-header">
                <img src="/images/logo.png" alt="logo-image" class="logo-header__logo-header-img">
            </div>
        </header>
        <main>
            <div class="content">
                <div class="content__frame">
                    <img src="/images/frame.png" alt="actors-image" class="content__frame-image">
                </div>
                <h1 class="content__heading">
                    <%= title %>
                </h1>
                <p class="content__text-message">
                    <%= message %>
                </p>
                <button class="content__btn-action">Кнопка действия</button>
            </div>
        </main>
        <footer>
            <div class="footer">
                <span class="footer__text-container">
                    <p class="footer__text-footer">Политика конфиденциальности</p>
                    <p class="footer__text-footer">Пользовательское соглашение</p>
                </span>
                <img src="/images/logo.png" alt="logo-faces" class="footer__logo-footer-img">
                <p class="footer__email-name">faces-castings&#64;gmail.com</p>
                <img src="/images/telegram.png" alt="telegram" class="footer__telegram-image">
                <p class="footer__bottom-text">&#169; 2023 FACES</p>
            </div>
        </footer>
    </div>

    <!-- <h1>
        <%= message %>
    </h1> -->
</body>

</html>